.custom-header{
  background-color: #33333336;
}
.MuiDataGrid-columnHeaders {
  margin: 2rem;
  border-radius: 4px;
}

.MuiDataGrid-virtualScroller {
  background-color: rgba(127, 255, 212, 0.644);
  border: .2px solid #33333331;
  margin: 0 2rem;
  border-radius: 4px;
}